#/bin/bash
LOGFILE=/var/log/maillog
for ip in $(cat $LOGFILE | grep rip | grep Aborted | sed -e "s/[ \f\r\t]/\n/g" | grep rip | sort | uniq | sed -e "s/[^0-9.]//g" | sort -d); do
    echo "=============================$ip============================"
    count=`cat $LOGFILE | grep rip | grep Aborted | grep -c $ip`
    echo "$ip : $count"
    cat $LOGFILE | grep $ip
    echo ""
done;
