#!/bin/bash
#
function sendreport() {
    echo $1
}

for LINE in $(du /var/spool/virtual/* --max-depth=0 -k | sed -e 's/\/var\/spool\/virtual\///g')
do
    $capacity=`echo ${LINE} | awk '{print $0}'`
    if [ $capacity -lt {{ mailbox_size_limit / 1024 | abs }} ]; then
        sendreport "info@${LINE}"
    fi
done
